.homepage{
    // height: 400px;
    color: royalblue;
    border: 1px solid red;
    overflow: hidden;
}
.contentStyle{
    height: '160px';
    color: '#fff';
    line-Height: '160px';
    text-align: 'center';
    background: '#364d79';
    
}