.navBar{
    // position: fixed;
    top: 0;
    text-align: right;
    height: 50px;
    line-height: 50px;
    border: 1px solid pink;
    width: 100%;
    background-color: rosybrown;
    // z-index: 99;
    .titles {
        color: #000000;
        a{
            padding-right: 10px;
        }
        
    }
}
